/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #03cf66;
    color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

/* TITLE */
h2 {
    margin-bottom: 25px;
    color: #fdfdfd;
    font-weight: 700;
    letter-spacing: 1px;
    animation: fadeSlide 0.8s ease-out;
}

/* LOGIN BOX */
.login-box {
    background: #fff;
    padding: 25px 30px 5px 30px;
    width: 350px;
    border-radius: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    animation: popIn 0.5s ease-out;
}

.login-box input {
    margin: 10px 0;
    padding: 13px 15px;
    border-radius: 10px;
    border: 1.8px solid #13e38c;
    font-size: 15px;
    transition: 0.25s;
}

.login-box input:focus {
    outline: none;
    border-color: #00977c;
    box-shadow: 0 0 6px rgba(0,150,110,0.3);
}

/* BUTTON LOGIN */
button#btnLogin {
    width: 70%;
    align-self: center;
    background: #02a44b;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    transition: 0.25s;
}

button#btnLogin img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

button#btnLogin:hover {
    background: #026f97;
    transform: translateY(-2px);
}

/* BUTTON KEMBALI */
button:not(#btnLogin) {
    margin-top: 25px;
    background: #02a44b;
    border: 2px solid #02a44b;
    color: #fffefe;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    transition: 0.25s;
}

button:not(#btnLogin):hover {
    background: #026f97;
    border: 2px solid #026f97;
    transform: translateY(-2px);
}

button:not(#btnLogin) img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

/* ==============================
   FOOTER
============================== */
footer {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.9rem;
    color: #eef7ef;
    opacity: 0.85;
    margin-top: 70px;
}

/* ANIMATIONS */
@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.93);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.shake {
    animation: shakeAnim 0.4s ease;
}

@keyframes shakeAnim {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}